@import "tailwindcss";

@theme {
  --color-bg-dark: #ffffff;
  --color-bg-card: #f3f4f6;
  --color-accent-red: #d90429;
  --color-accent-red-hover: #ef233c;
  --color-text-primary: #1f2937;
  --color-text-secondary: #6b7280;
  --color-border: #e5e7eb;
  --color-success: #2b9348;
}

body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-primary);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
